.card-wrapper {
  border-radius: 2px;
  font-family: "Montserrat";
  font-size: 1rem;
  position: relative;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5rem;
  background-color: burlywood;
  margin-top: 1%;
  margin-bottom: 5%;
}

.card-title {
  font-size: xx-large;
}
.text-items {
  margin-left: 5%;
  margin-right: 5%;
  display: table;
  table-layout: fixed;
}

.text-items > p {
  margin-top: 2%;
}

.tags {
  border-radius: 4px;
  border: 2px solid red;
  margin-right: 2%;
  margin-bottom: 2%;
}

.tags:empty {
  border: none;
}

.taglist {
  display: flex;
  word-break: break-all;
}

.img-wrapper {
  margin-top: 1%;
  margin-bottom: 1%;

  display: inline-flex;
  margin-right: 5%;
}

.img-wrapper > img {
  width: 10%;
  height: 10%;
  min-width: 10%;
  min-height: 10%;
}

.card-content {
  color: white;
  padding: 1.5rem;
  border-radius: 0 0 2px 2px;
}
