@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #d0c8b0;
  min-height: 100vh;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  margin-left: 15%;
}

.proj-title {
  margin: 5% auto;
  margin-top: 8%;
  padding: 1% 1%;
  text-align: center;
  color: white;
  border-bottom: solid 0.2rem tomato;
}

html {
  scroll-behavior: smooth;
}

.contact-txt {
  text-align: center;
  color: white;
  margin-bottom: 5%;
}
